.Spinner {
    width: 1rem;
    height: 1rem;
    animation: spinner-rotate 1.2s linear infinite;

    &__circle {
        stroke: currentcolor;
        stroke-linecap: round;
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
        animation: spinner-dash 1.5s ease-in-out infinite;
    }
}

@keyframes spinner-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner-dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
