.Option {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    height: fit-content;
    padding: 8px 12px;
    background: none;
    border: none;
    border-radius: 8px;
    font: inherit;
    text-align: left;
    text-decoration: none;
    color: var(--color-grey-10);
    transition: all var(--animation-duration-base) var(--animation-easing-ease-in-out);
    user-select: none;
    appearance: none;

    &:not(.Option__disabled) {
        cursor: pointer;

        &:hover {
            background-color: var(--color-grey-60-50);
        }

        &:active {
            background-color: var(--color-grey-70-50);
        }
    }

    &__no-prefix {
        column-gap: 0;
    }

    &__disabled {
        cursor: not-allowed;
        filter: opacity(0.4);
    }

    &__alert {
        .Option__label {
            color: var(--color-red-40);
        }

        .Option__description {
            color: var(--color-red-50);
        }

        &:not(.Option__disabled) {
            &:hover {
                background-color: color-mix(in srgb, var(--color-red-50) 50%, transparent);
            }

            &:active {
                background-color: color-mix(in srgb, var(--color-red-60) 50%, transparent);
            }
        }
    }

    &__selected {
        &::after {
            position: absolute;
            top: 9px;
            right: 12px;
            width: 16px;
            height: 16px;
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgOC42NjY2N0wzLjkwMTEzIDEyLjQ2ODlDNC41NjIzOCAxMy43OTE0IDYuMzY0NSAxMy45NTM0IDcuMjAxNTggMTIuNzM0NkMxMC4zNzEgOC4xMTk3MSAxNCAyIDE0IDIiIHN0cm9rZT0iI0Y3RjdGNyIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==');
            content: '';
        }
    }

    &__prefix {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 0;
    }

    &__description {
        color: var(--color-grey-20);
    }
}
