.ToggleButton {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    height: fit-content;
    padding: 16px 24px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--color-grey-20);
    transition: all var(--animation-duration-base) var(--animation-easing-ease-in-out);
    user-select: none;

    &__label {
        width: fit-content;
        height: fit-content;
        color: currentcolor;
    }

    &:hover:not(:has(input[type='checkbox']:disabled)) {
        color: var(--color-grey-10);
    }

    &:active:not(:has(input[type='checkbox']:disabled)) {
        color: var(--color-grey-20);
    }

    &:has(input[type='checkbox']:checked) {
        color: var(--color-grey-10);
    }

    &__primary:has(input[type='checkbox']:checked) {
        background-color: var(--color-purple-50);

        &:hover {
            background-color: var(--color-purple-40);
        }

        &:active {
            background-color: var(--color-purple-60);
        }
    }

    &__secondary:has(input[type='checkbox']:checked) {
        background-color: var(--color-grey-50);

        &:hover {
            background-color: var(--color-grey-40);
        }

        &:active {
            background-color: var(--color-grey-60);
        }
    }

    &:not(.ToggleButton__loading):has(input[type='checkbox']:disabled) {
        filter: opacity(35%);
    }

    &__label-hidden,
    &__span-hidden {
        visibility: hidden;
    }

    &__spinner {
        position: absolute;
        top: calc(50% - 8px);
        left: calc(50% - 8px);
        color: currentcolor;
    }

    &__full-width {
        width: 100%;
    }

    &__loading {
        cursor: wait;
    }
}
