@use '@emingy/core/styles/typography';
@use '@emingy/core/styles/filters';

.Input {
    flex-direction: row;
    gap: var(--spacing-2x);
    display: flex;
    align-items: center;
    border: 1px solid var(--color-grey-40-50);
    border-radius: var(--spacing-4x);
    padding: 0 var(--spacing-4x);
    min-height: 48px;
    transition:
        border-color var(--animation-duration-base) var(--animation-easing-ease-in-out),
        background-color var(--animation-duration-base) var(--animation-easing-ease-in-out),
        color var(--animation-duration-base) var(--animation-easing-ease-in-out),
        box-shadow var(--animation-duration-base) var(--animation-easing-ease-in-out);
    color: var(--color-grey-40-50);
    cursor: text;

    &__title {
        position: absolute;
        top: calc(50% - 9px);
        color: var(--color-grey-40-50);

        pointer-events: none;
        transition: all var(--animation-duration-base) var(--animation-easing-ease-in-out);

        z-index: 1;
        max-width: calc(100% - var(--spacing-8x));
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        height: 48px;
        width: 100%;
    }

    &__input-container {
        display: inline-flex;
        position: relative;
        overflow-x: scroll;
    }

    &__field {
        width: fit-content;
        flex-grow: 1;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        min-width: 0;
        padding-right: 25px;
        background: transparent;

        @include typography.base;
        color: var(--color-grey-10);

        &[type='number']::-webkit-inner-spin-button,
        &[type='number']::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type='number'] {
            -moz-appearance: textfield;
        }
    }

    &__mask {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        pointer-events: none;
        color: #555;
    }

    &__prefix,
    &__postfix {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        min-height: 22px;
    }

    &__prefix {
        padding-inline-end: var(--spacing-2x);
        border-inline-end: 1px solid var(--color-grey-40-50);
    }

    &__postfix {
        padding-inline-start: var(--spacing-2x);
        border-inline-start: 1px solid var(--color-grey-40-50);
    }

    /* ----------- */

    &:has(.Input__title) &__field {
        margin-top: 12px;
    }

    &:has(.Input__field:placeholder-shown) &__title,
    &:focus-within &__title,
    &--has-value &__title {
        @include typography.micro;
        top: 6px;
    }

    &:focus-within &__mask {
        top: 21px;
    }

    &:focus-within:not(.Input--disabled, .Input--error) {
        border-color: var(--color-grey-10);
    }

    &--error:focus-within {
        border-color: var(--color-red-40);
    }

    &:hover:not(.Input--disabled, .Input--error) {
        border-color: var(--color-grey-10);

        &:not(.Input--has-value) {
            .Input__title {
                color: var(--color-grey-10);
            }
        }
    }

    &--error:hover {
        border-color: var(--color-red-40);

        &:not(.Input--has-value) {
            .Input__title {
                color: var(--color-red-40);
            }
        }
    }

    /* ----------- */

    &--error {
        border-color: var(--color-red-50);
        box-shadow: 0 0 8px 0 var(--color-red-60);

        .Input__title {
            color: var(--color-red-50);
        }

        &:focus-within .Input__title {
            color: var(--color-red-50);
        }
    }

    &--disabled {
        pointer-events: none;
        cursor: auto;

        @include filters.opacity-35;
    }
}
