@use '@emingy/core/styles/typography';
@use '@emingy/core/styles/filters';

.Input {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-2x);
    min-height: 48px;
    padding: 0 var(--spacing-4x);
    border: 1px solid var(--color-grey-40-50);
    border-radius: var(--spacing-4x);
    cursor: text;
    color: var(--color-grey-40-50);
    transition:
        border-color var(--animation-duration-base) var(--animation-easing-ease-in-out),
        background-color var(--animation-duration-base) var(--animation-easing-ease-in-out),
        color var(--animation-duration-base) var(--animation-easing-ease-in-out),
        box-shadow var(--animation-duration-base) var(--animation-easing-ease-in-out);

    &__title {
        position: absolute;
        top: calc(50% - 9px);

        z-index: 1;
        max-width: calc(100% - var(--spacing-8x));
        overflow: hidden;

        pointer-events: none;
        text-overflow: ellipsis;
        color: var(--color-grey-40-50);
        white-space: nowrap;
        transition: all var(--animation-duration-base) var(--animation-easing-ease-in-out);
    }

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 48px;
    }

    &__input-container {
        position: relative;
        display: inline-flex;
        width: 100%;
        overflow-x: scroll;
    }

    &__field {
        flex-grow: 1;
        width: fit-content;
        min-width: 0;
        margin: 0;
        padding: 0;
        padding-right: 25px;
        background: transparent;
        border: none;
        outline: none;
        color: var(--color-grey-10);

        @include typography.base;

        &[type='number']::-webkit-inner-spin-button,
        &[type='number']::-webkit-outer-spin-button {
            margin: 0;
            -webkit-appearance: none;
        }

        &[type='number'] {
            -moz-appearance: textfield;
        }
    }

    &__mask {
        position: absolute;
        top: 50%;
        right: 0;
        width: 100%;
        pointer-events: none;
        color: #555;
        transform: translateY(-50%);
    }

    &__prefix,
    &__postfix {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        min-height: 22px;
    }

    &__prefix {
        padding-inline-end: var(--spacing-2x);
        border-inline-end: 1px solid var(--color-grey-40-50);
    }

    &__postfix {
        padding-inline-start: var(--spacing-2x);
        border-inline-start: 1px solid var(--color-grey-40-50);
    }

    /* ----------- */

    &:has(.Input__title) &__field {
        margin-top: 12px;
    }

    &:has(.Input__field:placeholder-shown) &__title,
    &:focus-within &__title,
    &__has-value &__title {
        @include typography.micro;
        top: 6px;
    }

    &:focus-within &__mask {
        top: 21px;
    }

    &:focus-within:not(.Input__disabled, .Input__error) {
        border-color: var(--color-grey-10);
    }

    &__error:focus-within {
        border-color: var(--color-red-40);
    }

    &:hover:not(.Input__disabled, .Input__error) {
        border-color: var(--color-grey-10);

        &:not(.Input__has-value) {
            .Input__title {
                color: var(--color-grey-10);
            }
        }
    }

    &__error:hover {
        border-color: var(--color-red-40);

        &:not(.Input__has-value) {
            .Input__title {
                color: var(--color-red-40);
            }
        }
    }

    /* ----------- */

    &__error {
        border-color: var(--color-red-50);
        box-shadow: 0 0 8px 0 var(--color-red-60);

        .Input__title {
            color: var(--color-red-50);
        }

        &:focus-within .Input__title {
            color: var(--color-red-50);
        }
    }

    &__disabled {
        cursor: auto;
        pointer-events: none;

        @include filters.opacity-35;
    }
}
