@use '@emingy/core/styles/typography';

.Button {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: fit-content;
    border: 1px solid;
    cursor: pointer;
    color: var(--color-grey-10);
    transition:
        border-color var(--animation-duration-base) var(--animation-easing-ease-in-out),
        background-color var(--animation-duration-base) var(--animation-easing-ease-in-out),
        color var(--animation-duration-base) var(--animation-easing-ease-in-out),
        box-shadow var(--animation-duration-base) var(--animation-easing-ease-in-out);
    user-select: none;

    &__wrapper {
        display: flex;
        flex-direction: row;
        width: fit-content;
        height: fit-content;
        border-radius: 12px;

        &_full-width {
            width: 100%;

            .Button {
                width: 100%;
            }
        }

        &:has(.Button__primary) {
            box-shadow:
                0 4px 4px 0 var(--color-grey-90-50),
                0 0 8px 0 var(--color-purple-60);
        }

        &:has(.Button__secondary) {
            box-shadow: 0 4px 4px 0 var(--color-grey-90-50);
        }

        &:has(.Button__alert) {
            box-shadow:
                0 4px 4px 0 var(--color-grey-90-50),
                0 0 8px 0 var(--color-red-60);
        }
    }

    &__primary {
        background-color: var(--color-purple-50);
        border-color: var(--color-purple-40);

        &:hover {
            background-color: var(--color-purple-40);
        }

        &:active {
            background-color: var(--color-purple-60);
        }
    }

    &__secondary {
        background-color: var(--color-grey-50);
        border-color: var(--color-grey-40);

        &:hover {
            background-color: var(--color-grey-40);
        }

        &:active {
            background-color: var(--color-grey-60);
        }
    }

    &__outlined {
        border-color: var(--color-grey-40);

        &:hover {
            border-color: var(--color-grey-10);
        }

        &:active {
            border-color: var(--color-grey-60);
        }
    }

    &__ghosted {
        background-color: transparent;
        border: 0;

        &:hover {
            background-color: var(--color-grey-50-50);
        }

        &:active {
            background-color: var(--color-grey-60-50);
        }
    }

    &__alert {
        background-color: var(--color-red-50);
        border-color: var(--color-red-40);

        &:hover {
            background-color: var(--color-red-40);
        }

        &:active {
            background-color: var(--color-red-60);
        }
    }

    &__middle-size {
        height: 48px;
        padding: 4px 24px;
        border-radius: 12px;
    }

    &__small-size {
        height: 32px;
        padding: 4px 16px;
        border-radius: 8px;
    }

    &__large-size {
        height: 64px;
        padding: 4px 32px;
        border-radius: 16px;
    }

    &__disabled {
        opacity: 0.1;
        cursor: auto;
        pointer-events: none;
    }

    &__splitted {
        border-end-end-radius: 0;
        border-start-end-radius: 0;
    }

    &__splitted-right {
        border-end-start-radius: 0;
        border-start-start-radius: 0;
    }

    &__label-hidden,
    &__span-hidden {
        visibility: hidden;
    }

    &__spinner {
        position: absolute;
        top: calc(50% - 8px);
        left: calc(50% - 8px);
    }

    &__loading {
        cursor: wait;
    }

    button {
        display: flex;
        align-items: center;
        cursor: inherit;
    }
}
