.Spacing {
    &__item__preview {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: var(--color-grey-60);

        & > div {
            height: fit-content;
            background-color: var(--color-purple-40);
            border-radius: 10%;
            color: var(--color-grey-10);
        }
    }
}
